<!DOCTYPE html>
<html>
<head>
  <title>Initiative Tracker</title>
  <link rel="stylesheet" href="css/build/style.css" />
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- Angular Animations -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
</head>
<body>
  
  <h1>Initiative Tracker</h1>
  
<div ng-app="myApp" ng-controller="myCtrl">


<ul class="character-items">
  <li class="character-item" ng-repeat="char in charList | orderBy : '-initiative'">
    <label class="initiative">
      <span>Initiative</span>
      <input type="number" ng-model="char.initiative">
    </label>
    
    <div class="meta-btns">
      <button tabindex="-1" class="btn-remove" ng-click="remove(char)" title="remove">&times;</button>
      <button tabindex="-1" class="btn-duplicate" ng-click="duplicate(char)" title="duplicate">+</button>
    </div>
    
    <div class="name-boxes" >
      <input class="box-char" type="text" ng-model="char.charName" placeholder="Character">
      <input class="box-player" type="text" ng-model="char.playerName" placeholder="Player">
    </div>
    
    <div class="hp">
      <button class="less" ng-click="lessHp(char)">-</button>
      <input type="number" ng-model="char.hp" placeholder="HP">
        <button class="more" ng-click="moreHp(char)">+</button>
    </div>
  
  
  </li>
</ul>


<p><button class="btn add" ng-click="add()">Add Character</button></p>



</div>


<script src="js/app.js"></script>
  
</body>
</html>