$fonts-sans: "Gill Sans", Futura, sans-serif;
$fonts-normal: Palatino, Cambria, serif;
$fonts-din: "DIN", "DIN Alternate";

$black: #333339;

$grey1 : #fbfbfb;
$grey2 : #f2f3f3;
$grey3 : #d9dadc;
$grey4 : #d0d1d2;


$red: #e66;
$green: #395;
$blue: #68e;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: $fonts-sans;
  color: $black;
}

h1 {
  margin: 40px 0;
}

button {
  font-family: $fonts-sans;
  display: block;
  color: $black;
  background-color: $grey2;
  padding: 15px 20px;
  border: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  border-radius: 4px;
  transition: all 0.2s linear;
  
  &:focus {
    outline: none;
  }
  
  &.btn {
    &:hover, &:focus {
      box-shadow: 0 0 5px 0 #999;
      background: $grey1; 
    }
    &:focus {
      box-shadow: 0 0 5px 0 #999;
    }
  }
  
  &.btn.add {
    float: left;
    background-color: $green;
    color: #fff;
    &:hover {
      background-color: darken($green, 5%);
    }
  }
  
  &.btn.clear {
    float: left;
    margin-left: 10px;
    background-color: $red;
    color: #fff;
    &:hover {
      background-color: darken($red, 5%);
    }
  }
}

.panel {
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

input {
  font-size: 18px;
  font-family: $fonts-din;
  color: $black;
  
  padding: 4px 8px;
  
  -webkit-appearance: none;
  border: 1px solid $grey3;
  
  transition: all 0.3s linear;
  
  border-width: 0 0 1px 0;
  border-radius: 0;
  background: transparent;
  
  &:focus {
    box-shadow: none;
    border-color: $black;
    outline: none;
  }
}

ul.character-items {
  list-style: none;
  
  li {
    background: $grey1;
    border-radius: 8px;
    margin: 20px 0;
    position: relative;
    
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    
    .initiative {
      background: $grey2;
      border-radius: 8px 0 0 8px;
      
      height: 100%;
      padding: 20px 40px 30px;
      margin-right: 20px;
      display: block;
      float: left;
      text-align: center;
      
      span { // "initiative" text
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 1px;
      }
      input { // initiative input
        display: block;
        width: 65px;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 40px;
        padding: 2px 0;
        text-align: center;
        
      }
      // remove number controls
      input::-webkit-inner-spin-button, 
      input::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
    }
    .meta-btns {
      float: right;
      height: 100%;
      
      button {
        position: absolute;
        right:0;
        height: 50%;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 20px;
        font-size: 20px;
        color: #fff;
      }
      
      .btn-remove {
        top:0;
        border-radius: 0 8px 0 0;
        background: $red;
        &:hover, &focus {
          background: darken($red, 5%)
        }
      }
      .btn-duplicate {
        bottom:0;
        border-radius: 0 0 8px 0;
        background: $blue;
        &:hover, &focus {
          background: darken($blue, 5%)
        }
      }
    }
    
    .name-boxes {
      padding-top: 20px;
      
      input {
        margin-right: 10px; 
        
      }
    }
    
    .hp {
      margin-top: 25px;
      input {
        font-size: 24px;
        width: 60px;
        float: left;
        border-radius: 0;
        text-align: center;
        padding: 4px 0;
        
        background: #fff;
        border: 1px solid $grey3;
        
        &:focus {
          border-color: $black;
        }
        
        
        // remove number controls
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }
      }
      
      button {
        float: left;
        height: 39px;
        padding: 6px 18px;
        color: $black;
        background: $grey2;
        border: 1px solid $grey3;
        
        &.less {
          border-radius: 6px 0 0 6px ;
          border-right-width: 0;
        }
        &.more {
          border-radius: 0 6px 6px 0;
          border-left-width: 0;
        }
      }
    }
    
    .notes input {
      margin-left: 20px;
      margin-top: 12px;
      font-size: 14px;
      width: calc(100% - 440px);
      
    }
    
    // enter and leave animations
    &.ng-enter {
      transition:0.5s linear all;
      opacity:0;
    }
    &.ng-enter.ng-enter-active {
      opacity:1;
    }
    &.ng-leave {
      transition:0.5s linear all;
      opacity:1;
    }
    &.ng-leave.ng-leave-active {
      opacity:0;
    }
    
  }
}

a {
  color: $red;
  font-family: $fonts-sans;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition: 0.3s;
  &:hover {
    border-color: $red;
  }
}
p, ul {
  margin: 1.2em 0;
  line-height: 1.6;
  font-size: 22px;
}

.docs {
  .main {
    max-width: 900px;
  }
  
  h2 {
    margin: 1em 0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  p, ul, ol {
    margin: 1.2em 0;
    line-height: 1.6;
    font-family: $fonts-normal;
    font-size: 22px;
  }
  ol, ul {
    font-size: 18px;
    padding-left: 40px;
    li {
      margin: 0.8em 0;
    }
  }
}